section{
    background-color: white;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#bloc_page{
    background-color: white;
}

header{
    width: 100%;
}

#nav_bbc{
    height: 40px;  
    background-color: white;
}

#nav_bbc ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: baseline;
    
    width: 1000px;
    height: 100%;

    
}

#nav_bbc a{
    text-decoration: none;
    color: black;

    border-right: 1px solid rgb(185, 185, 185);
    padding: 10px 15px 10px 15px;

    background-color: white;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    
}

header ul{
    width: 97%;
    margin-left: auto;
    margin-right: auto;
}

#research_bar{
    position: absolute; right: 12.5%; top: 0;
    display: flex;
}

#sign img{
    max-width: 29px;
    max-height: 25px;
    width: auto;
    height: auto;
    border-radius: 100%;
}
#bell img{
    max-width: 29px;
    max-height: 25px;
    width: auto;
    height: auto;
}


#searchicon img{
    max-width: 29px;
    max-height: 25px;
    width: auto;
    height: auto;
}

#research_bar input{
    color: black;
    background-color: rgb(228, 228, 228);
    border: none;
    margin-top: 10px;
    margin-left: -15px;

    width: 90%;
    height: 25px;
}

input::placeholder{
    color: black;
}

#research_bar a{
    margin-top: 10px;
}

/* first nav hovers and paddings corrections */

#logo{
    margin-left: -37px;
}

#logo a{
    padding-right: 5px;
}

#sign a{
    padding-left: 20px;
    padding-right: 70px;
}

#sign a:hover{
    border-bottom: 5px solid blue;

}

#bell a{
    padding-left: 15px;
}

#mor a{
    padding-right: 90px;
}

#mor a:hover{
    border-bottom: 5px solid black;
}

.blc a:hover{
    border-bottom: 5px solid black;
}

#yell a:hover{
    border-bottom: 5px solid yellow;
}

#azz a:hover{
    border-bottom: 5px solid rgba(0, 153, 255, 0.897);
}

#bell a:hover{
    border-bottom: 5px solid black;
}

/* second nav red */

#nav_red{
    background-color: powderblue;
    z-index: 1;
}

#newloc{
    display: flex;
    justify-content: space-between;
    background-color: rgba(173, 16, 16, 0.897);
    z-index: 1;
    height: 11%;
}

#newloc a{
    text-decoration: none;
}

#newloc p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#NEWS{
    margin-left: 12%;
    font-size: 2.5em;
    margin-top: -2.5%;
}


#local_news{
    margin-right: 18%;
    margin-top: 2%;
    font-size: 1.2em;   
    height: 50%;
    border: 1px solid rgba(185, 185, 185, 0.5);
    height: 30px;
    width: 165px;
}

#local_news p {
    margin-top: 4px;
    margin-left: 5px;
    width: 82%;
}

#local_news p:hover{
border-bottom: 1px solid white;
}

#nav_red ul{
    list-style-type: none;
    background-color: rgba(175, 0, 0, 0.884);

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 0;
    height: 6.5%;

    margin: 0;
    padding: 0;

    max-width: 100%;
    width: auto;
    
}

#nav_red img{
    max-width: 15px;
    max-height: 15px;
    width: auto;
    height: auto;
}

#nav_red a{
    text-decoration: none;
    color: white;

    z-index: 1;

    border-right: 1px solid white;
    padding-right: 13px;
    padding-left: 13px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.95em;

}

#nav_red a:hover{
    border-bottom: 4px solid white;
    padding-bottom: 6px;
}

/* SECTION */

#themepage {
    margin-top: -10px;
}

#themepage p{
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 4px solid red;
    width: 11.5%;
}

article a{
    text-decoration: none;
    color: rgb(100, 100, 100);
}

article h1 a{
    text-decoration: none;
    color: black;
    font-size: 1.7em;
    background-color: white;

    font-family: Arial, Helvetica, sans-serif;
}

article h1 a:hover{
    color: rgb(0, 60, 255);
}

article figure img{
    max-height: 350px;
    max-width: 370px;
    width: auto;
    height: auto;
    margin-right: 35%;
    float: right;
    
}

article figcaption{
    background-color: white;
    width: 30%;

    font-family: Arial, Helvetica, sans-serif;
}

#inmain ul{
    list-style-type: none;
    background-color: white;
    width: 20%;
}

#inmain li a{
    margin-left: -19%;
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}

#inmain li a:hover{
    color: rgb(0, 60, 255);
}

#inmain li{
    margin-bottom: 7px;
}

aside{
    background-color: white;
    width: 26%;

    position: absolute; top: 32%; left: 61.5%;

    border-left: 1px solid rgb(185, 185, 185);
}
aside a{
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    

}

aside h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin-left: 5%;
}

aside ul{
    list-style-type: none;
    background-color: white;
    width: 85%;
    height: 100%;
    
} 

aside figcaption{
    background-color: white;
    width: 95%;
    
}

aside li{
    background-color: white;
    height: 70px;
    margin-left: -7.5%;
    width: 100%;
}

aside img{
    max-width: 110px;
    max-height: 70px;
    width: auto;
    height: auto;

    float: left;
    margin-left: -40px;
    
}

.hour{
    color: rgb(100, 100, 100);
    font-size: smaller;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-top: 10px;
    font-weight: lighter;
    border-right: 1px solid grey;
    padding-right: 10px;
    
}

.theeme{
    color: rgba(175, 0, 0, 0.884);
    font-size: smaller;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}

.theeme:hover{
    color: rgb(0, 60, 255);
}




